# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
yarn.lock
pnpm-lock.yaml
# package-lock.json

# Editor / IDE
.vscode/
.idea/
*.swp

# Git
.git
.gitignore
.gitattributes

# Sistema
.DS_Store
Thumbs.db

# Build output (vai ser gerado dentro do container)
build/
dist/

# Coverage / tests
coverage/
*.lcov

# Logs
*.log
logs/

# Docker
Dockerfile
docker-compose.yml
*.dockerignore

# Env
.env
!.env.production
